@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap");
body {
  background-color: #F8F8F8;
  color: #343434;
  letter-spacing: 0.03em;
}

body.en {
  font-family: "Prompt", sans-serif;
}

body.tc {
  font-family: "Noto Sans TC", system-ui;
}

body.tc .title, body.tc .page-title {
  font-family: "Noto Sans TC", system-ui;
  font-weight: 700;
}

body.sc {
  font-family: "Noto Sans SC", sans-serif;
}

body.sc .title, body.sc .page-title {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  body {
    padding-bottom: 50px;
  }
}

a {
  text-decoration: none;
  color: #343434;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #FFAD0D;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input, textarea, button {
  outline: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  width: 100%;
  z-index: 10;
}

.header-inner .header_logo_w {
  fill: #fff;
}

.header-inner.scrolldown .header_logo_w {
  fill: #FFA800;
}

.header_logo {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: calc(50% - 270px - 40px);
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.header_logo svg {
  width: 134px;
  height: 50px;
}

.header_nav {
  margin: 0 auto;
  height: 65px;
  width: 540px;
  border-radius: 100px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0 63px;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header_nav ul {
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_nav li {
  margin: 0 12px;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_nav a {
  white-space: nowrap;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5A5A5A;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_nav a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border-radius: 4px 4px 0 0;
  background-color: #FFAD0D;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_nav a.active {
  color: #FFAD0D !important;
  font-weight: 700;
}

.header_nav a.active::after {
  height: 4px;
}

.header_nav_lang {
  margin-top: 8px;
  width: 100%;
  background-color: #F9F9F9;
  border-radius: 27px;
  padding: 0 15px;
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_nav_lang_active {
  padding: 15px 0;
}

.header_nav_lang_active span {
  display: block;
  margin: 0 10px;
}

.header_nav_lang_globe {
  width: 20px;
}

.header_nav_lang_arrow {
  width: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_nav_lang_list {
  border-top: 1px solid #E1E1E1;
  padding: 10px 0;
  display: none;
}

.header_nav_lang_list a {
  text-align: center;
  width: 100%;
  display: block;
}

.header_nav_lang_list a:hover {
  font-weight: 700;
}

.header_nav_lang.active {
  border-radius: 15px;
}

.header_nav_lang.active .header_nav_lang_arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.header_lang {
  width: 134px;
  border-radius: 33px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 65px;
  cursor: pointer;
  padding: 0 17px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.header_lang_active {
  width: 100%;
  height: 65px;
  padding: 15px 0;
}

.header_lang_active span {
  display: block;
  margin: 0 10px;
}

.header_lang_globe {
  width: 20px;
}

.header_lang_arrow {
  width: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_lang_list {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-top: 1px solid #E1E1E1;
  visibility: hidden;
  z-index: 10;
}

.header_lang_list li {
  margin-bottom: 13px;
}

.header_lang_list li:last-child {
  margin-bottom: 0;
}

.header_lang_list a {
  text-align: center;
  width: 100%;
  display: block;
}

.header_lang_list a:hover {
  font-weight: 700;
}

.header_lang.active {
  height: 161px;
}

.header_lang.active .header_lang_arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.header_lang.active .header_lang_list {
  height: auto;
  padding: 15px 0;
  height: 107px;
  visibility: visible;
}

.header_right {
  position: absolute;
  top: 0;
  right: calc(50% - 270px - 40px);
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_menu {
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_menu .bar {
  width: 22px;
  background-color: #FFC24A;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_menu .bar-top {
  -webkit-transform: translate(-50%, calc(-50% - 7px));
          transform: translate(-50%, calc(-50% - 7px));
}

.header_menu .bar-middle {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_menu .bar-bottom {
  -webkit-transform: translate(-50%, calc(-50% + 7px));
          transform: translate(-50%, calc(-50% + 7px));
}

.header_menu.active .bar-top {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header_menu.active .bar-middle {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header_menu.active .bar-bottom {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header.scrolldown {
  height: 70px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0 40px;
}

.header.scrolldown .header_logo {
  left: 40px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header.scrolldown .header_logo svg {
  width: 107px;
  height: 40px;
}

.header.scrolldown .header_nav {
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header.scrolldown .header_lang {
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  padding: 0;
  width: 107px;
}

.header.scrolldown .header_lang_active {
  height: 100%;
}

.header.scrolldown .header_lang_list {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0;
  top: 100%;
  padding-top: 8px;
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border: 0;
}

.header.scrolldown .header_lang_list ul {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 25px 20px;
  border-radius: 20px;
  border: 0;
}

.header.scrolldown .header_lang.active .header_lang_list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: auto;
  overflow: visible;
}

.header.scrolldown .header_menu {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 22px;
}

.header.scrolldown .header_right {
  position: absolute;
  right: 40px;
  top: 8px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header.worksscrolldown {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

@media screen and (min-width: 992px) {
  .header_lang:hover {
    height: 161px;
  }
  .header_lang:hover .header_lang_arrow {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  .header_lang:hover .header_lang_list {
    height: auto;
    padding: 15px 0;
    height: 107px;
    visibility: visible;
  }
  .header_nav a:hover {
    color: #FFAD0D !important;
    font-weight: 700;
  }
  .header_nav a:hover::after {
    height: 4px;
  }
  .header.navshow .header_lang:hover .header_lang_list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header.scrolldown .header_lang:hover .header_lang_list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: auto;
    overflow: visible;
  }
}

@media screen and (max-width: 991px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px;
  }
  .header-inner.navshow .header_logo_w {
    fill: #FFA800;
  }
  .header_logo {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .header_right {
    position: static;
    -webkit-transform: none;
            transform: none;
    top: inherit;
  }
  .header_nav {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #fff;
    top: 70px;
    right: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 50px;
    right: -100vw;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .header_nav ul {
    height: auto;
  }
  .header_nav a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px 0;
  }
  .header_nav a.active::after {
    display: none;
  }
  .header_nav.active {
    right: 0;
  }
  .header.navshow {
    height: 70px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 0;
  }
  .header.navshow .header_logo svg {
    width: 107px;
    height: 40px;
  }
  .header.navshow .header_nav {
    height: calc(100vh - 70px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header.navshow .header_lang {
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
    padding: 0;
    width: 107px;
  }
  .header.navshow .header_lang_active {
    height: 100%;
  }
  .header.navshow .header_lang_list {
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    top: 100%;
    padding-top: 8px;
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .header.navshow .header_lang_list ul {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 25px 20px;
    border-radius: 20px;
    border: 0;
  }
  .header.navshow .header_menu {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 22px;
  }
  .header.scrolldown .header_logo, .header.scrolldown .header_right {
    -webkit-transform: none;
            transform: none;
    position: static;
  }
  .header.scrolldown .header_nav {
    height: calc(100vh - 70px);
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0 20px;
    top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_nav_lang {
    display: block;
  }
  .header_logo svg {
    width: 100px;
    height: 37px;
  }
  .header_lang {
    display: none;
  }
  .header_menu {
    width: 40px;
    height: 40px;
  }
  .header_menu .bar {
    width: 18px;
  }
  .header.scrolldown {
    padding: 0 20px;
  }
}

.banner {
  position: relative;
}

.banner_girl {
  position: absolute;
  width: 20%;
  top: 24%;
  left: 9%;
}

.banner_items > img {
  position: absolute;
}

.banner_items_1 {
  width: 6.04%;
  top: 16.84%;
  left: 45.76%;
  -webkit-animation: float 2s ease-in-out infinite alternate;
          animation: float 2s ease-in-out infinite alternate;
}

.banner_items_2 {
  width: 2.43%;
  top: 15.62%;
  left: 58.26%;
  -webkit-animation: float 3s ease-in-out infinite alternate;
          animation: float 3s ease-in-out infinite alternate;
}

.banner_items_3 {
  width: 3.4%;
  top: 25.63%;
  left: 44.51%;
  -webkit-animation: float 2.5s ease-in-out infinite alternate;
          animation: float 2.5s ease-in-out infinite alternate;
}

.banner_items_4 {
  width: 4.24%;
  top: 22.54%;
  left: 53.54%;
  -webkit-animation: float 3s ease-in-out infinite alternate;
          animation: float 3s ease-in-out infinite alternate;
}

.banner_items_5 {
  width: 4.03%;
  top: 22.08%;
  left: 60.83%;
  -webkit-animation: float 2.5s ease-in-out infinite alternate;
          animation: float 2.5s ease-in-out infinite alternate;
}

@media screen and (max-width: 767px) {
  .banner_girl {
    width: 29.3%;
    top: 18.51%;
    left: 5.21%;
  }
  .banner_items_1 {
    width: 8.31%;
    top: 16.82%;
    left: 49.51%;
  }
  .banner_items_2 {
    width: 3.34%;
    top: 15.89%;
    left: 66.7%;
  }
  .banner_items_3 {
    width: 4.68%;
    top: 23.5%;
    left: 47.79%;
  }
  .banner_items_4 {
    width: 4.83%;
    top: 21.15%;
    left: 60.21%;
  }
  .banner_items_5 {
    width: 5.54%;
    top: 20.8%;
    left: 70.24%;
  }
}

@media screen and (max-width: 575px) {
  .banner_girl {
    width: 32.99%;
    top: 20.17%;
    left: 6.94%;
  }
  .banner_items_1 {
    width: 9.33%;
    top: 19.32%;
    left: 58.53%;
  }
  .banner_items_2 {
    width: 3.75%;
    top: 18.46%;
    left: 77.83%;
  }
  .banner_items_3 {
    width: 5.26%;
    top: 25.52%;
    left: 56.6%;
  }
  .banner_items_4 {
    width: 6.54%;
    top: 23.34%;
    left: 70.54%;
  }
  .banner_items_5 {
    width: 6.22%;
    top: 23.01%;
    left: 81.8%;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-12%);
            transform: translateY(-12%);
  }
  100% {
    -webkit-transform: translateY(12%);
            transform: translateY(12%);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(-12%);
            transform: translateY(-12%);
  }
  100% {
    -webkit-transform: translateY(12%);
            transform: translateY(12%);
  }
}

.section {
  padding: 100px 0;
}

@media screen and (max-width: 500px) {
  .section {
    padding: 80px 0;
  }
}

.title {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 44px;
  margin-bottom: 60px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 60px;
  z-index: 0;
}

.title::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.title-service::after {
  width: 110px;
  height: 88px;
  background-image: url(../img/service-title.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: -15%;
  top: -25%;
}

.title-works {
  color: #fff;
}

.title-works::after {
  width: 94px;
  height: 86px;
  background-image: url(../img/works-title.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: -15%;
  top: -25%;
}

.title-about::after {
  width: 105px;
  height: 79px;
  background-image: url(../img/about-title.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 30%;
  bottom: -15%;
}

.title-contact {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}

.title-contact::after {
  width: 105px;
  height: 87px;
  background-image: url(../img/contact-title.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: -10%;
  bottom: -10%;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 36px;
  }
  .title-service::after {
    width: 89px;
    height: 71px;
  }
  .title-works::after {
    width: 79px;
    height: 72px;
  }
  .title-about::after {
    width: 84px;
    height: 63px;
  }
  .title-contact::after {
    width: 81px;
    height: 67px;
  }
}

.service_item.graphic .service_pic {
  width: 259px;
  height: 210px;
}

.service_item.graphic .service_pic > svg {
  width: 259px;
  height: 210px;
}

.service_item.ui .service_pic {
  width: 230px;
  height: 189px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.service_item.ui .service_pic > svg {
  width: 230px;
  height: 189px;
}

.service_item.ui .service_pic_icon {
  -webkit-transform: translateX(-50%) translateY(calc(-5px - 50%));
          transform: translateX(-50%) translateY(calc(-5px - 50%));
}

.service_item.web .service_pic {
  width: 228px;
  height: 172px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.service_item.web .service_pic > svg {
  width: 228px;
  height: 172px;
}

.service_item.web .service_pic_icon {
  -webkit-transform: translateX(-50%) translateY(calc(-5px - 50%));
          transform: translateX(-50%) translateY(calc(-5px - 50%));
}

.service_item.wordpress .service_pic {
  width: 235px;
  height: 166px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.service_item.wordpress .service_pic > svg {
  width: 235px;
  height: 166px;
}

.service_item.wordpress .service_pic_icon {
  -webkit-transform: translateX(-50%) translateY(calc(-5px - 50%));
          transform: translateX(-50%) translateY(calc(-5px - 50%));
}

.service .row > div:nth-child(odd) .service_pic > svg path.back {
  fill: #C5EFF1;
}

.service .row > div:nth-child(odd) .service_pic > svg path.front {
  fill: #48B4B9;
}

.service .row > div:nth-child(even) .service_pic > svg path.back {
  fill: #FFEAC2;
}

.service .row > div:nth-child(even) .service_pic > svg path.front {
  fill: #FFAD0D;
}

.service_pic {
  position: relative;
  margin: 0 auto 10px;
}

.service_pic > svg {
  display: block;
  margin: 0 auto;
  overflow: visible;
}

.service_pic > svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.service_pic_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.service_pic_icon svg {
  width: 55px;
  height: 55px;
  margin: 0 auto 10px;
  display: block;
}

.service_pic_icon svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.service_pic_icon h3 {
  text-align: center;
  font-size: 16px;
  margin: 0;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.service_list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.service_list li {
  color: #5A5A5A;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 300;
}

@media screen and (min-width: 992px) {
  .service .row > div:nth-child(odd) .service_pic:hover > svg path.front {
    fill: #C5EFF1;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  .service .row > div:nth-child(odd) .service_pic:hover > svg path.back {
    fill: #48B4B9;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .service .row > div:nth-child(odd) .service_pic:hover .service_pic_icon .service_pic_icon_line {
    fill: #1E969C;
  }
  .service .row > div:nth-child(odd) .service_pic:hover .service_pic_icon h3 {
    color: #1E969C;
  }
  .service .row > div:nth-child(even) .service_pic:hover > svg path.front {
    fill: #FFEAC2;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  .service .row > div:nth-child(even) .service_pic:hover > svg path.back {
    fill: #FFAD0D;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .service .row > div:nth-child(even) .service_pic:hover .service_pic_icon .service_pic_icon_line {
    fill: #EA9A00;
  }
  .service .row > div:nth-child(even) .service_pic:hover .service_pic_icon h3 {
    color: #EA9A00;
  }
}

@media screen and (max-width: 1399px) {
  .service > .container {
    max-width: inherit;
  }
}

@media screen and (max-width: 1199px) {
  .service_item {
    margin-bottom: 40px;
  }
}

.works {
  background-image: url(../img/works-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 180px 0;
}

.works_top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.works_bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.works .row {
  margin-left: -30px;
  margin-right: -30px;
}

.works .row > div {
  padding-left: 30px;
  padding-right: 30px;
}

.works .row > div:nth-child(3n) {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.works .row > div:nth-child(3n+2) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.works_item {
  position: relative;
  display: block;
  margin-bottom: 120px;
}

.works_pic {
  display: block;
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 40px 40px 40px 0;
  overflow: hidden;
}

.works_pic_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.works_pic_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  top: 0;
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.works_pic_circle {
  position: absolute;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  background-color: #FFAD0D;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  right: 110%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.works_pic_hover {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0;
  left: 0%;
  width: 60%;
}

.works_pic_hover_logo {
  display: block;
  margin: 0 auto 30px;
}

.works_pic_hover_logo.logo-kogi {
  width: 50px;
}

.works_pic_hover_logo.logo-somings {
  width: 150px;
}

.works_pic_hover_logo.logo-tba {
  width: 80px;
}

.works_pic_hover_logo.logo-parjet {
  width: 110px;
}

.works_pic_hover_logo.logo-petstime {
  width: 70px;
}

.works_pic_hover_logo.logo-pixui {
  width: 60px;
}

.works_pic_hover_logo.logo-walay {
  width: 120px;
}

.works_pic_hover_logo.logo-yacenter {
  width: 70px;
}

.works_pic_hover_logo.logo-richsou {
  width: 50px;
}

.works_pic_hover_logo.logo-hota {
  width: 80px;
}

.works_pic_hover_logo.logo-konfu {
  width: 130px;
}

.works_pic_hover_logo.logo-naturelife {
  width: 100px;
}

.works_pic_hover_logo.logo-james {
  width: 100px;
}

.works_pic_hover_logo.logo-fairsun {
  width: 140px;
}

.works_pic_hover_logo.logo-sdb {
  width: 60px;
}

.works_pic_hover_logo.logo-dore {
  width: 60px;
}

.works_pic_hover_logo.logo-business {
  width: 50px;
}

.works_pic_hover_logo.logo-peiping {
  width: 45px;
}

.works_pic_hover_logo.logo-dingjin {
  width: 90px;
}

.works_pic_hover_logo.logo-vieweave {
  width: 150px;
}

.works_pic_hover_logo.logo-ninecity {
  width: 50px;
}

.works_pic_hover_logo.logo-ga {
  width: 60px;
}

.works_pic_hover_logo.logo-yuanmao {
  width: 50px;
}

.works_pic_hover_logo.logo-dingxin {
  width: 100px;
}

.works_pic_hover_logo.logo-global {
  width: 50px;
}

.works_pic_hover_logo.logo-changping {
  width: 110px;
}

.works_pic_hover_logo.logo-yjfutian {
  width: 120px;
}

.works_pic_hover_logo.logo-impression {
  width: 80px;
}

.works_pic_hover_logo.logo-sgcam {
  width: 120px;
}

.works_pic_hover_logo.logo-yucheng {
  width: 55px;
}

.works_pic_hover_logo.logo-doublelake {
  width: 100px;
}

.works_pic_hover_logo.logo-breeze {
  width: 130px;
}

.works_pic_hover_logo.logo-blueocean {
  width: 65px;
}

.works_pic_hover_logo.logo-eastern {
  width: 50px;
}

.works_pic_hover_logo.logo-sparkly {
  width: 90px;
}

.works_pic_hover_logo.logo-futurelove {
  width: 130px;
}

.works_pic_hover_logo.logo-neocore {
  width: 70px;
}

.works_pic_hover_logo.logo-greenscenery {
  width: 100px;
}

.works_pic_hover_logo.logo-wonders808 {
  width: 150px;
}

.works_pic_hover_logo.logo-chisu {
  width: 70px;
}

.works_pic_hover_logo.logo-fuyoung {
  width: 50px;
}

.works_pic_hover_logo.logo-nt {
  width: 90px;
}

.works_pic_hover_logo.logo-gladio {
  width: 100px;
}

.works_pic_hover_logo.logo-tx {
  width: 180px;
}

.works_pic_hover_logo.logo-iplaza {
  width: 120px;
}

.works_pic_hover_logo.logo-datung {
  width: 80px;
}

.works_pic_hover_catagory {
  font-family: "Signika", sans-serif;
  font-weight: 700px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.7;
  font-size: 12px;
}

.works_pic_hover_name {
  padding: 6px 20px;
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.7;
}

.works_text {
  position: absolute;
  padding: 0 15px;
  bottom: -30px;
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.works_text_catagory {
  margin: 0;
  padding: 8px 16px;
  border-radius: 30px 30px 30px 0;
  background-color: #FFAD0D;
  color: #fff;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.works_text_name {
  margin: 0;
  padding: 10px 40px;
  border-radius: 0 35px 35px 35px;
  background-color: #fff;
  color: #5A5A5A;
  font-size: 16px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.works_more {
  width: 190px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: 0 5px 10px rgba(34, 255, 233, 0.4);
          box-shadow: 0 5px 10px rgba(34, 255, 233, 0.4);
  margin: 50px auto 0;
  position: relative;
  font-weight: 500;
  color: #1E969C;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.works_more_eyes {
  position: absolute;
  width: 53px;
  height: 23px;
  top: -5%;
  left: 5%;
}

.works_more_eyes > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.works_more_eyes > img.hover {
  opacity: 0;
}

.works_tab {
  margin-bottom: 60px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 9;
}

.works_tab_item {
  margin: 0 10px;
  background-color: #EFEFEF;
  padding: 10px 25px;
  border-radius: 23px;
  color: #5A5A5A;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.works_tab_item:hover {
  background-color: #FFF1D6;
  color: #EA9A00;
}

.works_tab_item.active {
  background-color: #FFAD0D;
  color: #fff;
  font-weight: 500;
}

.works_tab_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.works_tab_active {
  padding: 10px 35px;
  border-radius: 100px;
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.works_tab_active_arrow {
  width: 20px;
}

.works_tab_inner {
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.works_tab.active .works_tab_active {
  background-color: transparent;
  padding: 15px 35px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.works_tab.active .works_tab_list {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.works_tab.active .works_tab_list::before {
  position: absolute;
  content: "";
  width: calc(100% - 70px);
  height: 1px;
  background-color: #E1E1E1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.works_tab.active .works_tab_list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

.works_tab.scrolldown {
  background-color: #EFEFEF;
  border-radius: 0 0 20px 20px;
}

.works_tab.scrolldown .works_tab_item {
  border-radius: 0 0 15px 15px;
}

.works-inner {
  background-image: none;
  padding-top: 40px;
}

.works-inner .row > div:nth-child(3n) {
  -webkit-transform: none;
          transform: none;
}

.works-inner .row > div:nth-child(3n+2) {
  -webkit-transform: none;
          transform: none;
}

@media screen and (min-width: 992px) {
  .works_tab_list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .works_item:hover .works_pic_mask {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .works_item:hover .works_pic_circle {
    right: 15%;
    width: 120%;
    padding-bottom: 120%;
  }
  .works_item:hover .works_pic_hover {
    left: 40%;
    opacity: 1;
  }
  .works_item:hover .works_text {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .works_more:hover {
    background-color: #FFAD0D;
    color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }
  .works_more:hover .works_more_eyes > img.normal {
    opacity: 0;
  }
  .works_more:hover .works_more_eyes > img.hover {
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  .works > .container {
    max-width: inherit;
    padding: 0 100px;
  }
  .works_text_name {
    padding: 10px 30px;
  }
  .works .row > div:nth-child(3n) {
    -webkit-transform: none;
            transform: none;
  }
  .works .row > div:nth-child(3n+2) {
    -webkit-transform: none;
            transform: none;
  }
  .works .row > div:nth-child(2n+1) {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  .works-inner .row > div:nth-child(2n+1) {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 991px) {
  .works_tab {
    margin-bottom: 30px;
  }
  .works_tab_item {
    font-size: 14px;
    margin: 0 7px;
  }
  .works .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .works .row > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .works > .container {
    padding: 0 50px;
  }
  .works-naturelife {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .works > .container {
    padding: 0 20px;
  }
  .works_item {
    margin-bottom: 80px;
  }
  .works_pic {
    border-radius: 30px 30px 30px 0;
  }
  .works_tab {
    padding: 0 20px;
  }
  .works_tab_list {
    display: none;
    position: absolute;
    padding: 15px 35px;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 1;
  }
  .works_tab_item {
    margin: 0;
    background-color: transparent;
    -webkit-transition: none;
    transition: none;
  }
  .works_tab_active {
    padding-left: 20px;
    padding-right: 20px;
  }
  .works_tab.scrolldown.active {
    padding: 0;
    border-radius: 0;
  }
  .works_tab.scrolldown.active .works_tab_active {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EFEFEF;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .works_tab.scrolldown.active .works_tab_list {
    background-color: #EFEFEF;
  }
  .works_tab.scrolldown.active .works_tab_list::before {
    background-color: #CECECE;
  }
  .works_tab.scrolldown.active .works_tab_list::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    background-color: #EFEFEF;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 0;
  }
  .works_tab.scrolldown.active .works_tab_item {
    border-radius: 100px;
  }
}

@media screen and (max-width: 575px) {
  .works > .container {
    padding: 0 40px;
  }
  .works .row > div:nth-child(2n+1) {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 500px) {
  .works_tab.scrolldown.active .works_tab_active {
    padding-left: 45px;
    padding-right: 45px;
  }
  .works_tab.scrolldown.active .works_tab_list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .works_tab.scrolldown.active .works_tab_list::before {
    width: calc(100% - 50px);
  }
  .works_tab.scrolldown.active .works_tab_item {
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .works > .container {
    padding: 0 20px;
  }
}

.about {
  position: relative;
  z-index: 0;
  padding-bottom: 200px;
  background-image: url(../img/about_bg.svg);
  background-size: 1112px;
  background-position: center 40%;
  background-repeat: no-repeat;
}

.about_bg {
  width: 1112px;
  position: absolute;
  z-index: -1;
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about_content {
  max-width: 1060px;
  padding: 0 40px;
  margin: 0 auto;
}

.about_pic {
  width: 50%;
  position: relative;
}

.about_pic_img {
  width: 100%;
}

.about_pic_img.m {
  display: none;
}

.about_pic_text {
  position: absolute;
  font-family: "Signika", sans-serif;
  color: #fff;
  top: 24%;
  right: 13%;
}

.about_pic_text h3 {
  font-size: 28px;
  margin-bottom: 0;
}

.about_pic_text p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.about_pic_text p .br {
  display: none;
}

.about_text {
  width: 50%;
  padding-left: 30px;
}

.about_text p {
  margin: 0;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.8;
}

.about_text p .br {
  display: none;
}

.about_link {
  margin-top: 8px;
}

.about_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 28px;
  height: 28px;
  margin-right: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about_link a svg {
  width: 14px;
  height: 14px;
}

.about_link a svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about_link a:hover {
  background-color: #fff;
  border-color: #fff;
}

.about_link a:hover.about_link_behance svg path {
  fill: #0057FF;
}

.about_link a:hover.about_link_linkedin svg path {
  fill: #0B65C2;
}

@media screen and (max-width: 991px) {
  .about {
    background-image: url(../img/about_bg-md.svg);
    background-size: 797px;
    background-position: center 83%;
  }
  .about_content {
    max-width: 600px;
    padding: 0 20px;
  }
  .about_pic {
    width: 100%;
    margin-bottom: 35px;
  }
  .about_pic_text {
    right: 17%;
    top: 25%;
  }
  .about_text {
    padding-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .about {
    background-position: center 75%;
  }
  .about_pic_text {
    top: 18%;
    right: 30%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media screen and (max-width: 500px) {
  .about {
    background-position: center 70%;
  }
  .about_pic_text h3 {
    font-size: 24px;
  }
  .about_pic_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .about_pic_img.pc {
    display: none;
  }
  .about_pic_img.m {
    display: block;
  }
  .about_pic_text {
    top: 25%;
    right: 28%;
  }
  .about_pic_text h3, .about_pic_text p {
    -webkit-transform: translateX(-9%);
            transform: translateX(-9%);
  }
}

@media screen and (max-width: 410px) {
  .about {
    background-image: url(../img/about_bg-sm.svg);
    background-size: 500px;
    background-position: center 75%;
  }
  .about_pic_text h3 {
    font-size: 20px;
  }
  .about_pic_text p {
    font-size: 12px;
  }
}

@media screen and (max-width: 370px) {
  .about {
    background-position: center 68%;
  }
  .about_pic_text {
    top: 16%;
    right: 32%;
  }
  .about_pic_text h3 {
    margin-bottom: 5px;
  }
  .about_pic_text p {
    font-size: 12px;
    line-height: 1.2;
  }
  .about_pic_text p .br {
    display: block;
  }
}

.contact {
  padding: 150px 0 20vw;
  background-image: url(../img/contact-bg.png);
  background-size: 92%;
  background-position: right 0;
  background-repeat: no-repeat;
  position: relative;
}

.contact_form {
  max-width: 850px;
  padding: 0 20px;
  margin: 0 auto;
}

.contact_form_item {
  margin-bottom: 20px;
}

.contact_form_item label {
  border-radius: 20px 20px 20px 0;
  background-color: #2DA4A9;
  padding: 6px 15px;
  color: #fff;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  font-weight: 500;
  -webkit-transform: translate(10px, 7px);
          transform: translate(10px, 7px);
}

.contact_form_input {
  border-radius: 0 25px 25px 25px;
  background-color: #fff;
  height: 50px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  border: 0;
  width: 100%;
}

.contact textarea {
  height: 150px;
  padding: 20px 15px;
}

.contact button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0 auto;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 34, 0.5);
          box-shadow: 0 3px 10px rgba(255, 255, 34, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 150px;
  height: 50px;
  border: 0;
}

.contact button span {
  color: #AF7400;
  font-family: "Signika", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contact button svg {
  width: 25px;
  height: 25px;
}

.contact button svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 991px) {
  .contact button:hover {
    background-color: #48B4B9;
  }
  .contact button:hover span {
    color: #fff;
  }
  .contact button:hover svg path {
    fill: #fff;
  }
}

@media screen and (max-width: 1199px) {
  .contact {
    background-size: 97%;
  }
}

@media screen and (max-width: 991px) {
  .contact {
    background-size: 145%;
    background-position: center 0;
    padding-bottom: 30vw;
  }
  .contact_form {
    max-width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    background-size: 1440px;
    background-position: 40% 0;
  }
  .contact_form {
    max-width: 540px;
  }
}

@media screen and (max-width: 575px) {
  .contact {
    padding-bottom: 77vw;
  }
}

.footer {
  padding-right: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer_bg {
  width: 100%;
}

.footer_content {
  position: absolute;
  bottom: 17%;
  right: calc(100px + 8%);
}

.footer_link {
  margin-bottom: 15px;
}

.footer_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-left: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer_link a svg {
  width: 20px;
  height: 20px;
}

.footer_link a svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer_link a:first-child {
  margin-left: 0;
}

.footer_copyright {
  color: #fff;
  margin: 0;
  font-family: "Signika", sans-serif;
  text-align: right;
  font-weight: 300;
}

.footer-inner {
  position: relative;
}

@media screen and (min-width: 992px) {
  .footer_link a:hover {
    background-color: #fff;
  }
  .footer_link a:hover svg path {
    fill: #48B4B9;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 50px;
  }
  .footer_content {
    right: calc(50px + 10%);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-right: 0;
  }
  .footer_content {
    right: inherit;
    left: 40px;
  }
}

@media screen and (max-width: 575px) {
  .footer_content {
    left: 20px;
    width: calc(100% - 40px);
  }
  .footer_copyright {
    text-align: left;
    font-size: 14px;
  }
}

.sidebtn {
  position: fixed;
  right: 20px;
  bottom: 30px;
}

.sidebtn_item {
  width: 50px;
  height: 48px;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sidebtn_item path {
  fill: #FFAD0D;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sidebtn_item svg {
  width: 50px;
  height: 48px;
  -webkit-filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.15));
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.sidebtn_item span {
  font-size: 14px;
  font-family: "Signika", sans-serif;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 500;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sidebtn_icon {
  position: absolute;
  width: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebtn_top {
  width: 40px;
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sidebtn_style {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 95%;
}

.sidebtn.bluebg .sidebtn_item path {
  fill: #6BC8CC;
}

.sidebtn.bluebg .sidebtn_item:hover path {
  fill: #1E969C;
}

@media screen and (min-width: 992px) {
  .sidebtn_item:hover {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  .sidebtn_item:hover path {
    fill: #D08900;
  }
  .sidebtn_item.btn-top:hover span {
    opacity: 0;
  }
  .sidebtn_item.btn-top:hover .sidebtn_top {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .sidebtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    background-color: #FFC24A;
    bottom: 0;
    right: 0;
    top: inherit;
    left: inherit;
  }
  .sidebtn_item {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .sidebtn_item svg {
    display: none;
  }
  .sidebtn_item span {
    font-size: 20px;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  }
  .sidebtn_icon {
    width: 25px;
    -webkit-filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.15));
  }
}

.page-head {
  padding: 175px 0;
  background-image: url(../img/page-head.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
}

.page-head_bottom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
}

@media screen and (max-width: 500px) {
  .page-head {
    padding: 120px 0;
  }
}

.page-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  letter-spacing: 0.05em;
  z-index: 0;
  font-family: "Signika", sans-serif;
}

.page-title::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 95px;
  height: 87px;
  background-image: url(../img/works-title.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: -15%;
  top: -25%;
}

@media screen and (max-width: 500px) {
  .page-title {
    font-size: 48px;
  }
}
/*# sourceMappingURL=style.css.map */